main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

li{
  text-align: center;
}
img{
  
  height: 10rem;
  width: auto;
  border-radius: 10%;
  filter : drop-shadow(10px 5px 1px grey)
  
}
nav ul li{
  filter : drop-shadow(10px 5px 1px grey)
}

main p{
  background-color: gainsboro;
}
li{
  list-style-type: none;

}
main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  
}

footer{
  border: thin solid black;
}
h1,p{
  color:orangered
}